<h1>Add a Collaborator To Your Private Wiki</h1>
<div class="col-md-8">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Add As Collaborator</th>
			</tr>
		</thead>
		<tbody>	
			<div class="field">
			<% @user.each do |user| %>
				
			    <div class="form-group">
			    	<tr>
			    		<td><%= user.name %></td>
			    		<td><%= user.email %></td>
			    		<td><%= button_to "Add Collaborator", wiki_collaborators_path(@wiki.id), params: { user_id: user.id } %></td>
			    	</tr>
			    </div>
			</div> 
			<% end %>
		</tbody>
	</table> 
</div>