<% if current_user.role == 'admin' || current_user.role == 'premium' %>
    <div class="form-group">
      <%= label :private, class: 'checkbox' do %>
      <%= check_box :private %> Private wiki
    <% end %>
	</div>
<% end %>