<% if wiki.public == true %>
	<button type="button" class="btn btn-xs btn-primary">Public Wiki</button>
<% else %>
	<button type="button" class="btn btn-xs btn-success">Private Wiki</button>
<% end %>