 <%= form_tag charges_path do %>
   <h4>Sign up for a Premium Account!</h4>
   <h5>Create Private Wikis Only Other Premium Users Can See</h5>
   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="1500"></script>
 <% end %>
